html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-color: transparent;
}

/* COLORS */
.white,
a.white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.darkblue,
a.darkblue {
  color: #0f3344 !important;
}

.bg-darkblue {
  background-color: #0f3344 !important;
}

.lightblue,
a.lightblue {
  color: #08accf !important;
}

.bg-lightblue {
  background-color: #08accf !important;
}

.orange,
a.orange {
  color: #eca154 !important;
}

.bg-orange {
  background-color: #eca154 !important;
}

.green,
a.green {
  color: #c4d600 !important;
}

.bg-green {
  background-color: #c4d600 !important;
}

.darkgrey,
a.darkgrey {
  color: #252525 !important;
}

.bg-darkgrey {
  background-color: #252525 !important;
}

.lightgrey,
a.lightgrey {
  color: rgb(200,200,200) !important;
}

.bg-lightgrey {
  background-color: rgb(200,200,200) !important;
}

.bg-ultralightgrey {
  background-color: #f7f7f7 !important;
}

/* ALLGEMEIN */
a,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

/* Headlines */
h2 {
  text-align: center;
  color: white !important;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width:550px) {
  h5 {
    font-size: 1rem;
  }
}

/* Buttons */
.btn-info {
  -webkit-box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #08accf;
  color: white;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #08accf !important;
  cursor: pointer;
}

.btn-info-reverse {
  -webkit-box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #08accf;
  color: #08accf;
  background-color: white;
}

.btn-info-reverse:hover,
.btn-info-reverse:focus,
.btn-info-reverse:active {
  box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  background-color: #08accf;
  color: white !important;
  cursor: pointer;
}

/* Content */
#content {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 3rem;
}

/* Suchmaske */
.dropdown-select {
  background-color: white;
  border: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu li *:hover,
.dropdown-select:hover {
  cursor: pointer;
}

.dropdown-menu li {
  padding-left: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}

.dropdown-menu li label {
    width: 100%;
}

.dropdown-menu a {
  color: #252525;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #b3e0e9;
  cursor: pointer;
}

.dropdown-menu li:hover a {
  color: white;
  text-decoration: none;
}

.dropdown-select i {
  margin-top: -6px;
}

/* Multiple select */
select[multiple]:focus option:checked {
  background: linear-gradient(0deg, #08accf 0%, #08accf 100%);
}

.custom-checkbox.radio .custom-control-label::before {
  border-radius: 50%;
}

/* Trennlinie */
hr.line-bold {
  border-top: 4px solid #08accf;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Tags für Suche */
.searchtag {
  padding: 0.25rem 0.75rem;
  margin-bottom: 3px;
}

/* Suchergebnisse */
.ergebnis-title {
  font-weight: 600;
  text-decoration: underline;
  transition: .3s ease-in-out;
}

.ergebnis-right .fa-angle-down {
  font-size: 1.5rem;
  transition: .3s ease-in-out;
  margin: 0 0 0 1.5rem;
}

.accordion > div[aria-expanded="true"] .ergebnis-title { 
  color: #08accf;
}

.accordion > div[aria-expanded="true"] .fa-angle-down { 
  transform: rotate(180deg);
}

.ergebnis-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ergebnisse .accordion {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Ausbildungslinks auf zwei Zeilen umbrechen */
@media (max-width: 575.98px) {
  .ergebnis-right {
    justify-content: space-between;
  }

  .ergebnis-right.col-xs-12 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .ergebnis-right.col-xs-12 i {
    margin-top: -20px;
  }

  .ergebnis-title {
    margin-bottom: 15px;
  }
}

/* Ergebnisinhalte */
.accordion .card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: .75rem 0;
}

.ergebnis-image {
  width: 100%;
  min-height: 300px;
  background-color: #ceeef4;
  background: url(../img/standard.svg) no-repeat center center;
  background-size: cover;
}

.ergebnisse hr:last-child {
  display: none;
}

span.icon.gv-icon-38 {
  float: left;
  margin-bottom: 1rem;
}

/*////////////////////////////*/
/* Bewerbung - Icons/Schritte */
.bewerbungsicons {
  list-style: none;
  position: relative;
  border: none;
  z-index: 0;
  justify-content: space-between;
}

.bewerbungsicons li::after {
  background: #cfcfcf none repeat scroll 0 0;
  content: "";
  display: block;
  height: 4px;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 15%;
  width: 33%;
}

.bewerbungsicons li.nextstep::after, 
.bewerbungsicons li.laststep::after {
  background-color: #08accf;
}

.bewerbungsicons li.middlestep::after, 
.bewerbungsicons li.laststep::after {
  left: 50%;
}

.bewerbungsicons li:last-child::after {
  width: 0;
}

.bewerbungsicons li {
  display: inline-block;
  width: 25%;
  text-align: center;
  float: none;
}

.bewerbungsicons li div {
  padding: 0;
  border: none;
  color: #cfcfcf;
}

.bewerbungsicons li.active div,
.bewerbungsicons li.visited div {
  color: #08accf;
}

.bewerbungsicons li span.icon {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}

.bewerbungsicons li span.icon:before {
  background-color: white;
  padding: 15px;
}

@media screen and (max-width: 560px) {
.more-icon-preocess.bewerbungsicons li span {
    font-size: 23px;
    height: 50px;
    line-height: 46px;
    width: 50px;
  }
  .more-icon-preocess.bewerbungsicons li::after {
      top: 24px;
  }
}
@media screen and (max-width: 380px) { 
  .bewerbungsicons.more-icon-preocess li {
    width: 16%;
  }
  .more-icon-preocess.bewerbungsicons li span {
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 35px;
  }
  .more-icon-preocess.bewerbungsicons li p {
    font-size: 8px;
  }
  .more-icon-preocess.bewerbungsicons li::after {
    top: 18px;
  }
  .bewerbungsicons.more-icon-preocess {
    text-align: center;
  }
}

/* Formular */
.form-row {
  margin-top: 15px;
}

.form-row select {
  color: black;
}

.plus {
  padding: 8px 9px 4px;
  display: inline-block;
}

.plus i.fas {
  font-size: 1.2rem;
}

#plus[aria-selected="true"] {
  box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 15px 21px 33px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #08accf !important;
}

#plus[aria-selected="false"] {
  -webkit-box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 12px 13px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #08accf;
  color: white;
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
}

.alert-mobile {
  display: none;
}

.custom-checkbox.radio .custom-control-label {
  margin-right: 1rem
}

.custom-checkbox.radio .custom-control-label::before {
  border-radius: 50%;
}

@media (max-width:768px) {
  .alert-mobile {
    display: unset;
  }
}

/* Check-Animation */
.svg-check {
  width: 200px;
  height: 200px;
}

svg {
  width: 85%;
  height: 85%;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash 1.5s ease-in-out;
  animation: dash 1.5s ease-in-out;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation-delay: 1s;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* Sidebar */
#sidebar span.icon {
  font-size: 1.5rem;
}